@import 'nib'
@import 'video'

/* @group colors */

/* end colors @end */
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* @group normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

[hidden]
  display: none

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0

a:focus
  outline: thin dotted

a:active, a:hover
  outline: 0

h1, h2, h3
  color #fff
  font-family: Helvetica
  font-weight: bold

h1
  font-size: 2em
  margin: 0.67em 0

h2
  font-size: 1.5em
  margin: 0.83em 0

h3
  font-size: 1.17em
  margin: 1em 0

h4
  font-size: 1em
  margin: 1.33em 0

h5
  font-size: 0.83em
  margin: 1.67em 0

h6
  font-size: 0.75em
  margin: 2.33em 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

mark
  background: #ff0
  color: #000

p, pre
  margin: 1em 0

code, kbd, pre, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: none

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

dl, menu, ol, ul
  margin: 1em 0

dd
  margin: 0 0 0 40px

menu, ol, ul
  padding: 0 0 0 40px

nav ul, nav ol
  list-style: none
  list-style-image: none

img
  border: 0
  -ms-interpolation-mode: bicubic

/*
svg:not(:root)
  overflow: hidden
*/

figure
  margin: 0

form
  margin: 0

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0
  white-space: normal
  *margin-left: -7px

button
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, html input[type="button"], input[type="reset"], input[type="submit"]
  -webkit-appearance: button
  cursor: pointer
  *overflow: visible

button[disabled], input[disabled]
  cursor: default

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0

/* end normalize @end */
/* @group h5bp helpers */

html, button, input, select, textarea
  color: #ddd

body
  font-size: 1.333em
  line-height: 1.6666

::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

img
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  *text-indent: -9999px

.ir:before
  content: ""
  display: block
  width: 0
  height: 100%

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.push
  float right

/* h5bp helpers @end */
/* @group main styles */

//html
body
  font-family 'Ubuntu', sans-serif
  margin 0 auto
  padding 0
  position relative

h1,h2,h3,h4,h5,h6
  font-family 'Russo One', serif

/* main styles @end */

#wrapper
  overflow-x hidden
  >section
    box-shadow 0 3px 8px rgba(0,0,0,0.3)

.no-scrolling
  fixed top bottom
  left 0
  right 0
  overflow hidden


/*@group header */

#masthead
  fixed left right
  top 0
  background #262425
  background linear-gradient(top, #2b2b2b, #151515)
  border-top 1px solid #a4a4a4
  border-bottom 2px solid #000
  padding-right 0.75em
  text-align right
  z-index 11

  .logo
    float left
    img
      overflow hidden
      position absolute

  nav
    display inline-block
  a
    color #bbb
    display inline-block
    line-height 49px
    text-decoration none
    font-size 0.6666em
    position relative
    margin 0 0.333em
    text-shadow: 0px 0px 1px rgba(0,0,0,1)
    text-transform uppercase
  ul
    margin 0
    padding 0

  li
    display inline-block
    position relative

    a
      backface-visibility hidden
      margin 0 0.81666em
      transform-style preserve-3d
      transition all 0.3s cubic-bezier(1.000, -0.600, 0.000, 1.650)

  li:hover a,
  li a:focus
    color #e90128
    text-shadow: 0 0 10px rgba(255,255,255,0.166)
    transform rotateX(360deg) scale(1.1666)

  .icon
    background-image url(/images/sprite.png)
    height 1.75em
    width 1.75em
    line-height 49px
    overflow hidden
    text-align left
    text-indent -99em
    vertical-align middle
    transition all 0.7s cubic-bezier(1.000, -0.600, 0.000, 1.650)
    // cubic-bezier(1.000, -0.530, 0.405, 1.425)
    &:hover,
    &:focus
      transform rotateZ(360deg) scale(1.333)

  .icon-instagram
    background-position -233px -14px
  .icon-facebook
    background-position -258px -14px

/* header @end */
/* @group footer */

#footer
  fixed bottom 0 left 0
  right: 0

  padding 0.75em
  background #000
  color #fff
  font-size 0.5em

/* footer @end */
/* @group home */

#video
  background: #000
  position relative
  .the-stuff
    absolute left 0 right 0
    top 20%
    text-align center
    z-index 3
    transition all 0.3s cubic-bezier(1.000, -0.600, 0.000, 1.650)

    img
      display block
      height 14em
  &.isHidden,
  &.isPlaying
    .the-stuff
      opacity 0
      top -10%

.btn
  background-color #393d3c
  background linear-gradient(top, #181816, #393d3c)
  border 0
  color #fff
  display inline-block
  padding 0.333em 0.666em
  text-decoration none
  text-transform uppercase


#play-video
  min-height 100%
  min-width 100%
  left -10%
  position relative

/* home @end */
/* @group about */
#about
  position relative
  overflow hidden
  img
    min-height 100%
    min-width 100%

.about-content
  absolute top 0 bottom 0
  left 0
  background rgba(0,0,0,0.333)
  padding 20% 10%
  width 36%
  z-index 3
  h2
    color rgb(216,11,40)
    margin 0
    font-size 1.3333em
    text-transform uppercase
  p
    font-size 0.75em

  &:after
    content ''
    absolute top 0 bottom 0
    left 100%
    border-bottom 500px solid rgba(0,0,0,0.333)
    border-left 300px solid rgba(0,0,0,0.333)
    border-top 800px solid transparent

/*
.slides
  position relative
.slide
  display none
.slide:first-child
  display block
*/

/* end about @end */
/* @group how old are you */

#how-old-you-be
  background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMklEQVQIW2NkYGD4D8TYgC8jDklfoPhmbJJgCZBR6JJwCXRJFAlkSQwJmKQPzA50JwMAKQ0MTkCsfHkAAAAASUVORK5CYII=') repeat
  fixed top 5em bottom 5em
  left 0
  right 0
  z-index 10
  text-align center

  h2
    color rgb(216,11,40)
    font-size 1.5em
    margin 0
    text-transform uppercase

/* @end how old are you */
/* @group flavors */

#flavors
  position relative
  overflow hidden
  height: 4000px
  >img
    top 0
    left 0
    right 0
    bottom 0
    z-index 0

.cans
  left 0
  top 0
  text-align center
  padding-top: 7.5%
  height: 800px
  width 50%
  z-index: 1
  img
    margin 0 -3%
    max-height 70%
    max-width 33.3333%
.flavor
  padding: 12.5% 7.5% 0% 0
  height 500px
  font-family ubuntu
  text-align right
  left: 43.3333%
  top: 0
  right: 0
  z-index: 1
  h3
    font-size: 2.666em
    font-weight bold
    letter-spacing 0.05em
    line-height 1
    text-transform uppercase
  p
    font-size 1.5em
    padding-left 20%

.inline-can
  display none

/* @end flavors */
/* @group 35em min-width */
@media only screen and (max-width: 540px)
  .btn
    padding 0.666em 1.333em
    position relative
    z-index 4
  #how-old-you-be
    font-size 0.666em
    svg
      display none
    h2
      padding 2.5% 2.5% 0
    p
      padding 0 2.5%
    z-index 1000

  #masthead
    nav[role="navigation"],
    .icon
      display none


/* end 35em min-width @end */
/* @group 60em min-width tablet-esque */
@media only screen and (max-width: 60em)
  // TODO
/* end 60em min-width tablet-esque @end */
/* @group XXem min-width */
@media only screen and (max-width: 60em)
  // TODO
/* end XXem min-width @end */
.isFlat
  .about-content
    width 66%

  .flavor
    font-size 0.666em
    padding 5% 2.5% 5% 25%
    text-align left
    position relative
    left 0
    height auto
    p
      padding-left 0
  .cans
    display none
  .inline-can
    display block
    position absolute
    top 2.5%
    left 10%
    float left
    width: 10%

  .flavorRoyalFlush
    background-color #cb232f
  .flavorMargarita
    background-color #bdc86e
  .flavorScrewdriver
    background-color #da4c32
  .flavorApplePie
    background-color #dfac40

  img[data-anchor-target="#flavors"]
    display none

  #flavors
    height auto !important

/* @group high-res mq */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)only screen and (min-resolution: 144dpi)
  // nothing here

/* high-res mq @end */
/* @group print */

@media print
  *
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100% !important

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid

/* print @end */

/*vi: set foldmarker=@group,@end*/



