@import 'nib'

.video-js
  background-color: #000
  position: relative
  padding: 0
  vertical-align: middle

.video-js .vjs-tech
  //absolute top 0 left 0
  width: 100%
  height: 100%

.video-js:-moz-full-screen
  position: absolute

body.vjs-full-window
  padding: 0
  margin: 0
  height: 100%
  overflow-y: auto

.video-js.vjs-fullscreen
  position: fixed
  overflow: hidden
  z-index: 1000
  left: 0
  top: 0
  bottom: 0
  right: 0
  width: 100% !important
  height: 100% !important
  _position: absolute

.video-js:-webkit-full-screen
  width: 100% !important
  height: 100% !important

.vjs-poster
  absolute left right
  margin: 0 auto
  padding: 0
  cursor: pointer
  width: 100%
  max-height: 100%

.vjs-default-skin .vjs-controls
  position: absolute
  bottom: 0
  left: 0
  right: 0
  margin: 0
  padding: 0
  height: 2.6em
  color: #fff
  //border-top: 1px solid #404040
  //background: linear-gradient(top,#242424 50%,#1f1f1f 50%,#171717 100%)
  visibility: hidden
  opacity: 0

.vjs-default-skin .vjs-control
  position: relative
  float: left
  text-align: center
  margin: 0
  padding: 0
  height: 2.6em
  width: 2.6em

.vjs-default-skin .vjs-control:focus
  outline: 0

.vjs-default-skin .vjs-control-text
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

/* @group progress control I care about */

.vjs-controls.vjs-fade-out
  opacity 1 !important

.vjs-default-skin
  .vjs-progress-control
    absolute left right
    height: 0.25em
    width: auto
    background: rgb(200,28,46)

  .vjs-progress-holder
    position: relative
    cursor: pointer !important
    padding: 0
    margin: 0
    height: 0.25em
    background: rgb(200,28,46)

    .vjs-play-progress,
    .vjs-load-progress
      absolute top left
      display: block
      height: 1.0em
      margin: 0
      padding: 0
      border-radius: .6em

  /*
  .vjs-play-progress
    background: linear-gradient(top,#efefef 0,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%)
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',endColorstr='#f1f1f1',GradientType=0)

  .vjs-load-progress
    opacity: .8
    background: linear-gradient(top,#666,#333)
  */

  .vjs-seek-handle
    absolute left 0 top 50%
    width: 0.5em
    height: 0.5em
    margin-top: -0.333em
    border-radius: 0.8em
    background #000
    border: 2px solid #fff


/* @end progress control I care about */

.vjs-default-skin .vjs-time-controls
  position: absolute
  right: 0
  height: 1.0em
  width: 4.8em
  top: -1.3em
  border-bottom: 1px solid #1f1f1f
  border-top: 1px solid #222
  background-color: #333
  font-size: 1em
  line-height: 1.0em
  font-weight: normal
  font-family: Helvetica,Arial,sans-serif
  background: linear-gradient(top,#333,#222)

/* @group stuff I am hiding */

.vjs-time-divider
  display: none
.vjs-default-skin
  .vjs-current-time,
  .vjs-duration,
  .vjs-remaining-time,
  .vjs-fullscreen-control,
  .vjs-big-play-button
    display: none

/* @end stuff I am hiding */

.vjs-default-skin
  .vjs-time-control
    font-size: 1em
    line-height: 1
    span
      line-height: 25px

/* @group loading spinner */

.vjs-loading-spinner
  display: none
  position: absolute
  top: 50%
  left: 50%
  width: 55px
  height: 55px
  margin: -28px 0 0 -28px
  -webkit-animation-name: rotatethis
  -webkit-animation-duration: 1s
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -moz-animation-name: rotatethis
  -moz-animation-duration: 1s
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: linear

div.vjs-loading-spinner .ball1
  opacity: .12
  position: absolute
  left: 20px
  top: 0
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball2
  opacity: .25
  position: absolute
  left: 34px
  top: 6px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball3
  opacity: .37
  position: absolute
  left: 40px
  top: 20px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball4
  opacity: .50
  position: absolute
  left: 34px
  top: 34px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 10px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball5
  opacity: .62
  position: absolute
  left: 20px
  top: 40px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball6
  opacity: .75
  position: absolute
  left: 6px
  top: 34px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball7
  opacity: .87
  position: absolute
  left: 0
  top: 20px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

div.vjs-loading-spinner .ball8
  opacity: 1.00
  position: absolute
  left: 6px
  top: 6px
  width: 13px
  height: 13px
  background: #fff
  border-radius: 13px
  border: 1px solid #ccc

/* @end loading spinner */

.vjs-fade-in
  visibility: visible !important
  opacity: 1 !important
  -webkit-transition: visibility 0s linear 0s,opacity .3s linear
  -moz-transition: visibility 0s linear 0s,opacity .3s linear
  -ms-transition: visibility 0s linear 0s,opacity .3s linear
  -o-transition: visibility 0s linear 0s,opacity .3s linear
  transition: visibility 0s linear 0s,opacity .3s linear

.vjs-fade-out
  visibility: hidden !important
  opacity: 0 !important
  -webkit-transition: visibility 0s linear 1.5s,opacity 1.5s linear
  -moz-transition: visibility 0s linear 1.5s,opacity 1.5s linear
  -ms-transition: visibility 0s linear 1.5s,opacity 1.5s linear
  -o-transition: visibility 0s linear 1.5s,opacity 1.5s linear
  transition: visibility 0s linear 1.5s,opacity 1.5s linear

